<div class="min-h-screen bg-slate-50 flex justify-center items-center ">
      <div class="card p-5 w-10/12 xl:w-1/2 grid grid-cols-1 md:grid-cols-1">
            <div class="relative flex flex-col p-1 md:p-8">
                  <!-- <div class="py-8">
                <button type="button" class="text-sm border border-gray-100 px-5 py-3 rounded-lg w-full hover:bg-emerald-100 hover:border-emerald-100
                    transition-all ease-in-out duration-300">
                    <i class="bi bi-google mr-1"></i>
                    Log in with Google
                </button>
            </div>
            <div class="grid grid-cols-5 items-center">
                <div class="col-span-2">
                    <hr>
                </div>
                <p class="text-center">or</p>
                <div class="col-span-2">
                    <hr>
                </div>
            </div> -->

                  <!-- <app-alert (hideAlert)="onAlertCloseHandler($event)" [dismissible]="true" [messages]="serverErrors"
                [show]="serverErrors.length > 0" [type]="AlertType.Danger"></app-alert> -->

                  <form class="my-5" [formGroup]="Form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                              <label for="email">Email</label>
                              <div class="relative">
                                    <input type="email" id="email" class="form-control w-full ps-10"
                                          formControlName="email" placeholder="Please enter your email">
                                    <span class="absolute top-2 left-0 ps-3 text-gray-400">
                                          <i class="bi bi-envelope-at"></i>
                                    </span>
                              </div>
                              <small *ngIf="Form.controls['email'].invalid && Form.controls['email'].touched"
                                    class="error-message">
                                    <small *ngIf="Form.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                                          Email is required.
                                    </small>
                                    <small *ngIf="Form.controls['email'].errors?.['email'] && !Form.controls['email'].errors?.['required']"
                                          class="ct_fs_14 mt-1">
                                          Invalid email format.</small>
                              </small>
                        </div>
                        <div class="form-group">
                              <label for="password">Password</label>
                              <div class="relative">
                                    <input type="password" id="password" class="form-control w-full ps-10"
                                          formControlName="password" placeholder="Please enter your password">
                                    <span class="absolute top-2 left-0 ps-3 text-gray-400">
                                          <i class="bi bi-shield-lock"></i>
                                    </span>
                              </div>
                              <small *ngIf="Form.controls['password'].invalid && Form.controls['password'].touched"
                                    class="error-message">
                                    <small *ngIf="Form.controls['password'].errors?.['required']" class="ct_fs_14 mt-1">
                                          Password is
                                          required.</small>
                              </small>
                        </div>

                        <div class="text-sm my-4">
                              <div class="inline-flex items-center gap-x-2">
                                    <input type="checkbox" id="rememberme" class="h-auto cursor-pointer"
                                          formControlName="rememberMe">
                                    <label for="rememberme" class="cursor-pointer">Remember me</label>
                              </div>
                              <!-- <a routerLink="/forgot-password" class="text-[#1b83c1] float-right">Forget password?</a> -->
                        </div>

                        <app-submit-button [isLoading]="loading" [text]="'Sign in'"
                              [class]="'btn w-full bg-[#1b83c1] text-white flex justify-center'"></app-submit-button>
                  </form>
                  <!-- 
                  <div class="text-sm text-gray-400">
                        <p>Don't have any account? <a [routerLink]="commonService.prepareRoute(publicRoutes.Signup)"
                                    class="text-[#1b83c1]">Sign up</a> now!</p>
                  </div> -->
            </div>

      </div>
</div>