<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
      <div class="grid gap-2">
            <div class="flex flex-wrap items-center gap-5">
                  <nz-select class="custom_dropdown w-1/2" nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                        [(ngModel)]="selectedValue">
                        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                  <div class="items-center ltr:space-x-2 inline-flex">
                        <div class="flex -space-x-1">
                              <span class="group relative" data-title="Yashraj Mandloi" data-toggle="tooltip">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/29/small_WhatsApp Image 2024-03-07 at 12.04.46 PM.jpeg"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="palash jain" data-toggle="tooltip">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/30/small_Jain 23.jpeg"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="Mohd Faraz" data-toggle="tooltip">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/8/small_live_.cid.jpg"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="Harshit Bargal" data-toggle="tooltip">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/45/small_image 523.png"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="Govind Kumawat" data-toggle="tooltip"
                                    data-original-title="" title="">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/14/small_profile-pic.png"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="Gagan Mishra - Total Logged Time: 00:00"
                                    data-toggle="tooltip" data-original-title="" title="">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/37/small_ImportedPhoto.747560871.42051.jpeg"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="Beauty  Kumari" data-toggle="tooltip"
                                    data-original-title="" title="">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/39/small_beauty.jpg"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                              <span class="group relative" data-title="Archee Jain" data-toggle="tooltip">
                                    <img src="https://www.creativethoughtsinfo.com/ERP/uploads/staff_profile_images/44/small_20241221_213822~3.png"
                                          class="inline-block h-7 w-7 rounded-full ring-2 ring-white ">
                              </span>
                        </div>
                        <a href="#" data-target="#add-edit-members" data-toggle="modal" class="mt-1.5 rtl:mr-3">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5">
                                    </path>
                              </svg>
                        </a>
                  </div>
            </div>
            <span class="text-sm text-[#2563eb] border border-[#a8c1f7] px-4 py-1 rounded w-28">In Progress</span>
      </div>
      <div class="flex justify-end">
            <button class="btn bg-[#1b83c1] text-white">
                  <i class="bi bi-plus"></i> New Task
            </button>
      </div>
</div>

<div class="card p-3 mt-5">
      <div class="flex space-x-5 items-center overflow-auto">
            <div class="flex space-x-2 items-center border-b border-[#1b83c1] text-[#1b83c1] px-4 py-1">
                  <i class="bi bi-grid-3x2-gap-fill"></i>
                  <a routerLink="overview">
                        Overview
                  </a>
            </div>
            <div
                  class="flex space-x-2 items-center border-b border-transparent hover:border-gray-500 text-gray-500 px-4 py-1">
                  <i class="bi bi-check-circle"></i>
                  <a routerLink="tasks" class="text-gray-500 hover:text-gray-700">
                        Tasks
                  </a>
            </div>
            <div
                  class="flex space-x-2 items-center border-b border-transparent hover:border-gray-500 text-gray-500 hover:text-gray-700 px-4 py-1">
                  <i class="bi bi-clock"></i>
                  <a routerLink="timesheets" class="text-gray-500 hover:text-gray-700">
                        Timesheets
                  </a>
            </div>
            <div
                  class="flex space-x-2 items-center border-b border-transparent hover:border-gray-500 text-gray-500 hover:text-gray-700 px-4 py-1">
                  <i class="bi bi-rocket-takeoff-fill"></i>
                  <a routerLink="milestones" class="text-gray-500 hover:text-gray-700">
                        Milestone
                  </a>
            </div>
            <div
                  class="flex space-x-2 items-center border-b border-transparent hover:border-gray-500 text-gray-500 hover:text-gray-700 px-4 py-1">
                  <i class="bi bi-file-earmark"></i>
                  <a routerLink="files" class="text-gray-500 hover:text-gray-700">
                        Files
                  </a>
            </div>
      </div>
</div>

<router-outlet></router-outlet>