<div class="card p-5">
      <div class="flex justify-between items-center">
            <div class="card-title flex items-center gap-2">
                  <i class="bi bi-arrow-left font-bold cursor-pointer" (click)="location.back()"></i>
                  <h3 class="text-lg font-bold leading-none mb-0">{{currentRouteName}}</h3> / <h3
                        class="text-md leading-none mb-0">
                        Sub-Features</h3>
            </div>
            <button class="btn btn-xs bg-[#1b83c1] text-white" (click)="openModal()">
                  <i class="bi bi-plus"></i> Add New
            </button>
      </div>
      <div class="mt-3">
            <app-table [apiUrl]="url" [featureId]="id" [columns]="columns" (viewClicked)="onView($event)"
                  (editClicked)="onEdit($event)" (deleteClicked)="onDelete($event)"></app-table>
      </div>
</div>


<div class="modal" role="dialog" [attr.aria-modal]="showModal">
      <div class="modal-backdrop"></div>
      <div class="modal-wrapper">
            <div class="modal-container">
                  <div class="modal-box">
                        <div class="bg-white p-10 sm:p-6 sm:pb-4 min-w-[60rem] relative">
                              <button class="absolute top-2 right-2" (click)="onModalCloseHandler(false)">
                                    <i class="bi bi-x text-lg"></i>
                              </button>
                              <h1 class="text-2xl font-bold text-[#2b2b2b] mb-4 text-center">
                                    {{subFeatureId ? 'Update' : 'Add New'}} Sub-Feature
                              </h1>
                              <hr class="mb-5">
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                          <div>
                                                <label for="subFeature_name"
                                                      class="block text-sm font-medium text-gray-700">
                                                      Sub-Feature Name
                                                </label>
                                                <input type="text" id="subFeature_name"
                                                      formControlName="subFeature_name" class="form-control w-full"
                                                      placeholder="Enter sub-feature name">
                                                <div *ngIf="Form.controls['subFeature_name'].invalid && Form.controls['subFeature_name'].touched"
                                                      class="error-message">
                                                      <div *ngIf="Form.controls['subFeature_name'].errors?.['required']"
                                                            class="text-xs mt-1">
                                                            Project name is required.
                                                      </div>
                                                </div>
                                          </div>
                                          <div>
                                                <label for="subFeature_name"
                                                      class="block text-sm font-medium text-gray-700">
                                                      Estimated Time (Hours)
                                                </label>
                                                <nz-select formControlName="estimatedTime" class="form-control w-full"
                                                      nzPlaceHolder="Select">
                                                      <nz-option *ngFor="let time of estimatedTimeList" [nzValue]="time"
                                                            [nzLabel]="time"></nz-option>
                                                </nz-select>
                                                <div *ngIf="Form.controls['estimatedTime'].invalid && Form.controls['estimatedTime'].touched"
                                                      class="error-message">
                                                      <div *ngIf="Form.controls['estimatedTime'].errors?.['required']"
                                                            class="text-xs mt-1">
                                                            Estimated time is required.
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class=" flex justify-end gap-4 items-center mt-5 sm:mt-6">
                                          <button type="reset" class="btn btn-xs bg-gray-500 text-white"
                                                (click)="onModalCloseHandler(false)">
                                                Cancel
                                          </button>
                                          <app-submit-button [isLoading]="loading" [text]="'Save'"
                                                [class]="'btn bg-[#1b83c1] text-white btn-xs'"></app-submit-button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</div>