<aside>
    <div class="brand-wrapper">
        <a routerLink="/" class="brand text-center">
            <img src="assets/images/cti_black_logo.svg" alt="Logo" class="w-4/5">
        </a>
    </div>
    <ul class="menu-links">
        <li>
            <a routerLinkActive="active" class="menu-item" ariaCurrentWhenActive="page">
                <i class="bi bi-columns-gap"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/teams" class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-microsoft-teams"></i>
                Team </a>
        </li>
        <li>
            <a routerLink="/admin/project-enquiries" class="menu-item" routerLinkActive="active"
                ariaCurrentWhenActive="page">
                <i class="bi bi-question-circle"></i>
                Project Enquries </a>
        </li>
        <li>
            <a routerLink="/admin/projects" class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-kanban"></i>
                <span>Project</span>
            </a>
        </li>
        <!-- <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false"
                (click)="subMenuToggleHandler($event)">
                <i class="bi bi-kanban"></i>
                <span>Project</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Project List</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Featurs</span>
                    </a>
                </li>
            </ul>
        </li> -->

        <!-- <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false"
                (click)="subMenuToggleHandler($event)">
                <i class="bi bi-diagram-3"></i>
                <span>Website</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Data Table</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Forms</span>
                    </a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false"
                (click)="subMenuToggleHandler($event)">
                <i class="bi bi-sliders2-vertical"></i>
                <span>Settings</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Profile</span>
                    </a>
                </li>
                <!-- <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Settings, settingRoutes.Users)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-item" ariaCurrentWhenActive="page">
                        <span>Website</span>
                    </a>
                </li> -->
            </ul>
        </li>
    </ul>
</aside>

<div class="collapsible-btn-container">
    <button id="sidebar-collapse-btn" sidebarCollapse>
        <div class="w-6 h-16 flex justify-center items-center">
            <div class="collapsible-icons">
                <div class="collapsible-top-icon"></div>
                <div class="collapsible-bottom-icon"></div>
            </div>
        </div>
    </button>
</div>